.Header {
    grid-column: full-start / full-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 0;
}

.HeaderMain {
    height: 100vh;
}

.Header h1 {
    color: white;
    font-size: 10rem;
    font-weight: 400;
    text-align: center;
    background-color: #37AFFF;
}

.Header h2 {
    color: #313131;
    font-size: 7rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10rem;
}

.Header input {
    color: #313131;
    font-family: inherit;
    font-size: 7rem;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #313131;
    width: 30%;
    outline: none;
}

.Header a {
    width: 40rem;
    padding: 2.5rem 0;
    font-size: 4rem;
}

@media only screen and (max-width: 1000px) {
    .Header h1 {
        font-size: 8rem;
        margin-bottom: 1rem;
    }
    
    .Header h2 {
        font-size: 5rem;
    }

    .Header input {
        font-size: 5rem;
    }
    
    .Header a {
        width: 30rem;
        padding: 2rem 0;
        font-size: 3rem;
    }
}

@media only screen and (max-width: 600px) {
    .Header h1 {
        font-size: 6rem;
    }
    
    .Header h2 {
        font-size: 4rem;
        margin-bottom: 12rem;
    }

    .Header input {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 500px) {
    .Header h1 {
        font-size: 4rem;
    }
    
    .Header h2 {
        font-size: 3rem;
        margin-bottom: 12rem;
    }

    .Header input {
        font-size: 3rem;
    }
    
    .Header a {
        width: 20rem;
        padding: 1.5rem 0;
        font-size: 2rem;
    }
}