.Header {
    grid-column: full-start / full-end;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Header h1 {
    color: white;
    font-size: 10rem;
    font-weight: 400;
    text-align: center;
    background-color: #37AFFF;
}

.Header h2 {
    color: #313131;
    font-size: 7rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10rem;
}

.Header input {
    color: #313131;
    font-size: 7rem;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #313131;
    width: 30%;
    outline: none;
}

.Header button {
    width: 40rem;
    padding: 2.5rem 0;
    font-size: 4rem;
}