.Circle {
    height: 30rem;
    width: 30rem;
    border-radius: 100%;
    background-color: #37AFFF;
    left: -15rem;
    display: block;
}

.Absolute {
    position: absolute;
    top: 90vh;
}

.Fixed {
    position: fixed;
    top: 200px;
}