*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  display: block;
  margin: 0 auto;
  border: 2px solid #37AFFF;
  background-color: #ffffff;
  color: #37AFFF;
  text-transform: uppercase;
}