*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  display: block;
  padding: 2.5rem 0;
  font-size: 4rem;
  margin: 0 auto;
  border: 2px solid #37AFFF;
  background-color: #ffffff;
  color: #37AFFF;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 50%;
  }

  a {
    width: 30rem;
    padding: 2rem 0;
    font-size: 3rem;
  }
}

@media only screen and (max-width: 500px) {
  a {
    width: 20rem;
    padding: 1.5rem 0;
    font-size: 2rem;
  }
}